<div class="section-title">
    <h3>MY PROFILE</h3>
</div>
<div class="after-header">
<div class="info-wrapper">

    <div id="profile-pic-placeholder">profile pic placeholder
    </div>

    <div class="name-email-fields">
        <div><%= @my_profile_form.current_user.first_name %></div>
        <div><%= @my_profile_form.current_user.last_name %></div>
        <div><%= @my_profile_form.current_user.email %></div>
        <div>**password placeholder**</div>
    </div>

    <div class="about-section">
        <div>
            <div class="about-div"><span class="about-text">ABOUT</span>
            </div>
            <%=form_for @my_profile_form, remote: :true, url: { action: "update"}, method: :put do |f| %>
            <%= f.text_area :about, :value => current_user.about, disabled: 'disabled', class: "js-my-profile-textarea my-profile-form__textarea" %>
                <span class="js-my-profile-textarea-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
                <span class="js-my-profile-textarea-edit-submit my-profile-form__textarea-edit-submit"><i class="glyphicon glyphicon-ok"></i></span>
            <% end %>
        </div>
    </div>

</div>
</div>

<div class="opportunities-created-list">

<div class="section-title">
    <h3>OPPORTUNITIES CREATED</h3>
</div>
    <div id="opportunity-detail-title">
        <div class="details-div"><span class="details-text">DETAILS</span>
        </div>
    </div>
    <div class-"each-opportunity">
        <% @my_profile_form.current_user.employing_opportunities.each do |o| %>
        <div>
            <%= o.title %><br />
            <%= o.venue.name %><br />
            <%= o.venue.address %><br />
            <%= o.venue.city %><br />
            <%= o.event_start_date %><br />
        </div>
        <% end %>
    </div>
</div>


<%= link_to "POST NEW OPPORTUNITY", new_opportunity_path %>
